<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="logo">
    <span class="main">UAM Bank</span>
    <hr/>
    <span class="minor">BANCO DIGITAL</span>
  </div>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" #displayName required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button size="large" color="danger" expand="full" type="submit" (click)="register(displayName, email, password)">Cadastrar</ion-button>
        <ion-button size="medium" color="light" expand="full"  [routerLink]="['/login']">
          <ion-icon name="return-up-back-outline"></ion-icon>
          Voltar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
