ion-item {
  margin-bottom: 10px;
}

form, input, ion-item {
  --background: transparent !important;
  color: white;
}

form {
  padding: 5px;

  ion-button {
    margin-top: 10px;
  }
}

form div ion-text {
  color: white;
}
