<!--suppress CheckEmptyScriptTag -->
<ion-content [fullscreen]="true" color="primary">
  <ion-grid>
    <ion-row>
      <ion-col class="hello">
        <h1>Olá, {{ user.displayName ? user.displayName.split(' ')[0] : '' }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="primary" [routerLink]="['/home']">
      <ion-icon name="close-circle-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="bank-account">
    <ion-card-content class="ion-text-center">
      <ion-icon class="ion-margin-bottom" *ngIf="!loadingBankAccount && bankAccount" name="business-outline"
                size="large"></ion-icon>
      <ion-text *ngIf="!loadingBankAccount && bankAccount">
        <p>
          Agência {{ bankAccount.agency.toString().padStart(4, '0') }}
          Conta {{ bankAccount.number + '-' + bankAccount.digit }}
        </p>
        <p>Banco 123 - UAM Bank | Bando Digital</p>
      </ion-text>

      <ion-text *ngIf="!loadingBankAccount && !bankAccount">
        Não foi possível os dados da sua conta bancária.
      </ion-text>

      <ion-spinner *ngIf="loadingBankAccount" color="primary"></ion-spinner>
    </ion-card-content>
  </ion-card>

  <ion-card class="profile-account">
    <ion-card-content>
      <ion-list lines="full">
        <ion-item class="ion-margin-vertical profile-ico" lines="none">
          <ion-icon class="ion-margin-bottom" name="person-circle-outline" size="large"></ion-icon>
        </ion-item>

        <ion-item class="ion-margin-vertical">
          <ion-label>Nome</ion-label>
          <ion-text>{{ user.displayName }}</ion-text>
        </ion-item>

        <ion-item class="ion-margin-vertical">
          <ion-label>Email</ion-label>
          <ion-text>{{ user.email }}</ion-text>
        </ion-item>

        <ion-item class="ion-margin-vertical">
          <ion-label>Limite de Crédito</ion-label>
          <ion-text>{{ (user.creditLimit ? user.creditLimit : .0) | currency: "BRL" }}</ion-text>
        </ion-item>

        <ion-item *ngIf="!loadingBankAccount && bankAccount" class="ion-margin-vertical">
          <ion-label>Saldo na Conta</ion-label>
          <ion-text>{{ bankAccount.balance | currency: "BRL" }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card-content>
    <ion-button (click)="authService.logout()" class="ion-text-center" color="danger" size="full">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Sair
    </ion-button>
  </ion-card-content>
</ion-content>
