ion-list {
  h2 {
    font-weight: 550;
    font-size: .8em;
  }

  h3 {
    font-size: .7em;
    margin-top: 5px;
  }

  .subject {
    font-size: 1em;
    margin-top: 10px;
  }

  .amount {
    font-size: 1.1em !important;
  }
}
