<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">
      Minha Conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-bank-account-summary (changeLoadingStatus)="updateLoadingBankAccount($event)" (updateBankAccount)="updateBankAccount($event)" [showHeader]="false"></app-bank-account-summary>
  <app-bank-account-transactions *ngIf="bankAccount" [bankAccount]="bankAccount" [loadingBankAccount]="loadingBankAccount"></app-bank-account-transactions>
</ion-content>

