<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recuperação de Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <app-logo></app-logo>

  <ion-card>
    <ion-card-header align="center">
      <ion-card-title>Verifique seu E-mail</ion-card-title>
    </ion-card-header>

    <ion-card-content align="center">
      <p>Enviamos um e-mail contendo o link para redefinição de sua senha.</p>
      <br>

      <p>Se o e-mail não estiver em sua caixa de entrada, verifique o SPAM ;).</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="large" color="light" expand="full"  [routerLink]="['/login']">
          <ion-icon name="return-up-back-outline"></ion-icon>
          Voltar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
