<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueci minha Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="logo">
    <span class="main">UAM Bank</span>
    <hr/>
    <span class="minor">BANCO DIGITAL</span>
  </div>

  <form>
    <ion-text class="form-title">Digite seu e-mail para mudar sua senha</ion-text>

    <ion-item lines="full">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" #email required placeholder="jose.silva@email.com"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button size="large" color="danger" expand="full" type="submit" (click)="reset(email)">Continuar</ion-button>
        <ion-button size="medium" color="light" expand="full"  [routerLink]="['/login']">
          <ion-icon name="return-up-back-outline"></ion-icon>
          Voltar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
