<ion-card class="feature-card">
  <ion-card-header>
    <ion-card-subtitle>
      <ion-icon size="large" name="analytics-outline"></ion-icon>
      <ion-text>Opções de investimento</ion-text>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-text class="subject">Agora você pode fazer investimentos em renda variável direto pela plataforma. Clique no
      botão abaixo, e confira:
    </ion-text>

    <ion-grid>
      <ion-row>
        <ion-col align="center">
          <ion-button align="center" style="margin-top: 25px;" size="small">Acessar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
