ion-card.feature-card {

  ion-card-header {
    padding-bottom: 5px;

    ion-text {
      font-weight: 590;
    }

    ion-card-subtitle ion-text {
      margin-left: 10px;
      position: relative;
      top: -10px;
    }
  }

  ion-card-content {
    letter-spacing: .7px;

    ion-text {
      display: block;
    }

    .subject {
      font-size: .8em;
    }

    .amount {
      font-weight: 700;
      margin-top: 10px;
      font-size: 1.4em;
    }
  }
}
