form {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

ion-footer ion-toolbar {
  padding: 10px;
  font-size: .9em;

  a {
    text-decoration: none;
    color: var(--ion-color-primary);
  }
}

ion-item {
  margin-bottom: 10px;
}

form, input, ion-item {
  --background: transparent !important;
  color: white;
}

form {
  ion-button {
    margin-top: 10px;
  }
}

form div ion-text {
  color: white;
}

hr {
  color: white;
  border: white;
}

.reset-password {
  color: white;
  font-size: .9em;
  padding: 20px;

  a {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
  }
}
