ion-card-subtitle ion-text {
  margin-left: 10px;
  position: relative;
  top: -10px;
}

.hello {
  padding: 0 0 0 20px;
  letter-spacing: 3px;
}

ion-card ion-card-header {
  padding-bottom: 5px;

  ion-text {
    font-weight: 590;
  }
}

ion-card ion-card-content {
  letter-spacing: .7px;

  ion-text {
    display: block;
  }

  .subject {
    font-size: .8em;
  }

  .amount {
    font-weight: 700;
    margin-top: 10px;
    font-size: 1.4em;
  }

  .available-limit {
    font-size: .7em;
    color: black;
    margin-top: 3px;

    span{
      font-weight: 550;
      color: var(--ion-color-success-shade)
    }
  }
}

ion-list {
  h2 {
    font-weight: 550;
    font-size: .7em;
  }

  h3 {
    font-size: .5em;
    margin-top: 5px;
  }

  .subject {
    font-size: 1em;
    margin-top: 10px;
  }

  .amount {
    font-size: 1.1em !important;
  }
}
