<!--suppress CheckEmptyScriptTag -->
<ion-content [fullscreen]="true" color="primary">
  <ion-grid>
    <ion-row>
      <ion-col class="hello">
        <h1>Olá, José</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-cc-summary></app-cc-summary>
  <app-bank-account-summary [routerLink]="['/bank-account']"></app-bank-account-summary>
  <app-investment-card></app-investment-card>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="primary">
      <ion-icon name="cog-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col align="center">
        <ion-button type="button" color="danger" (click)="authService.logout()" expand="full">Sair</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
