ion-item {
  margin-bottom: 10px;
}

form, input, ion-item {
  --background: transparent !important;
  color: white;
}

form {
  margin-top: 100px;
  padding: 5px;

  ion-button {
    margin-top: 10px;
  }
}

form div ion-text {
  color: white;
}

.form-title {
  display: block;
  text-align: center;
  font-size: .9em;
  margin-bottom: 15px;
}
